// Color palette
$color-base-primary: #C65146 !default;
$color-base-selection: #EBE1D3 !default;
$color-base-lines: #DCDCDC !default;

$color-text-primary: #444444 !default;
$color-text-secondary: #777777 !default;
$color-text-heading: #222222 !default;
$color-text-inverted: white !default;

$color-background-dark: #32373d !default;
$color-background-light: #f5f5f5 !default;
$color-background-body: white !default;

$color-state-muted: #eeeeee !default;
$color-state-success: #10a887 !default;
$color-state-warning: #F17F42 !default;
$color-state-error: #da3c3c !default;

$color-blue-darker: #1573b6 !default;
$color-blue-dark: #1e80c6 !default;
$color-blue-base: #2b90d9 !default;
$color-blue-light: #3fa2e9 !default;
$color-blue-lighter: #4eb1f9 !default;

$color-green-darker: #089073 !default;
$color-green-dark: #0b9d7d !default;
$color-green-base: #10a887 !default;
$color-green-light: #1eb896 !default;
$color-green-lighter: #28ceaa !default;

$color-red-darker: #653131 !default;
$color-red-dark: #b73333 !default;
$color-red-base: #da3c3c !default;
$color-red-light: #f25a5a !default;
$color-red-lighter: #fa8181 !default;

$color-gray-darker: #333333 !default;
$color-gray-dark: #4d4d4d !default;
$color-gray-base: #666666 !default;
$color-gray-light: #808080 !default;
$color-gray-lighter: #999999 !default;
